<!DOCTYPE html>
<html>
  <head>
    <title>GRafi Labs Blog</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <header class="header">
      <section class="container header__container">
          <a href="/" class="header__link"><h1 class="logo">Gr.</h1></a>
          <nav class="nav">
              <ul class="nav__primary">
                  <a href="/" class="header__link"<li class="nav__items">HOME</li></a>
                  <a href="#" class="header__link"<li class="nav__items">PORTFOLIO</li></a>
                  <a href="#" class="header__link"<li class="nav__items">CONTACT</li></a>
              </ul>
          </nav>
      </section>
    </header>